<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BAppMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.BApp" id="BAppMap">
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="appUuid" column="app_uuid" jdbcType="VARCHAR"/>
        <result property="appSecret" column="app_secret" jdbcType="VARCHAR"/>
        <result property="appAddress" column="app_address" jdbcType="VARCHAR"/>
        <result property="interfaceAddress" column="interface_address" jdbcType="VARCHAR"/>
        <result property="bindType" column="bind_type" jdbcType="INTEGER"/>
        <result property="bindAddress" column="bind_address" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="contractPageByUserIdLoad" resultType="com.kge.energy.crm.repository.entityext.result.WxUserAppResult">
        select a.name, a.app_id, DATE_FORMAT(b.binding_time, '%Y-%m-%d') AS binding_time, b.openid_id, b.binding_state, a.bind_type, b.external_account
        from b_app a
        LEFT JOIN b_openid b ON b.app_id = a.app_id
        <where>
            b.user_id = #{listParam.userId} AND a.flag = 1 AND b.flag = 1
        </where>
    </select>

    <select id="appUnbindingListLoad" resultType="com.kge.energy.crm.repository.entityext.result.AppDetailUserResult">
        select `name`, app_id
        from b_app
        <where>
            app_id NOT IN ( SELECT app_id FROM b_openid WHERE user_id = #{userId} AND flag = 1 ) AND flag = 1
        </where>
    </select>

</mapper>

