<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BResourceMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.BResource" id="BResourceMap">
        <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
        <result property="parentResourceId" column="parent_resource_id" jdbcType="INTEGER"/>
        <result property="resourceName" column="resource_name" jdbcType="VARCHAR"/>
        <result property="resourceCode" column="resource_code" jdbcType="VARCHAR"/>
        <result property="resourceType" column="resource_type" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="pathType" column="path_type" jdbcType="VARCHAR"/>
        <result property="iconCode" column="icon_code" jdbcType="VARCHAR"/>
        <result property="iconFilePath" column="icon_file_path" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="systemType" column="system_type" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getSystemResources" resultMap="BResourceMap">
        select *
        from b_resource
        where flag = 1
        <if test="systemType != null and systemType != ''">
            and system_type = #{systemType}
        </if>
        order by sort
    </select>

    <select id="getUserResources" resultMap="BResourceMap">
        select r.*
        from b_resource r,
             r_user_role ur,
             r_role_resource rr
        where r.flag = 1
          and rr.flag = 1
          and ur.flag = 1
          and r.resource_id = rr.resource_id
          and ur.role_id = rr.role_id
          and r.status = 0
          and rr.tenant_id = #{tenantId}
          and rr.tenant_id = #{tenantId}
          and ur.tenant_id = #{tenantId}
          and r.system_type = #{systemType}
          and ur.user_id = #{userId}
        order by r.sort
    </select>
</mapper>

