<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BResourceInterfaceMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.BResourceInterface" id="BResourceInterfaceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
        <result property="interfaceName" column="interface_name" jdbcType="VARCHAR"/>
        <result property="interfaceUrl" column="interface_url" jdbcType="VARCHAR"/>
        <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultMap="BResourceInterfaceMap">
        select *
        from b_resource_interface
        where flag = 1
        <if test="param.resourceId != null">
            and resource_id = #{param.resourceId}
        </if>
        <if test="param.interfaceName != null and param.interfaceName != ''">
            and interface_name like CONCAT('%',#{param.interfaceName},'%')
        </if>
        <if test="param.interfaceUrl != null and param.interfaceUrl != ''">
            and interface_url like CONCAT('%',#{param.interfaceUrl},'%')
        </if>
    </select>

    <select id="listBySystemType" resultMap="BResourceInterfaceMap">
        select bri.*
        from b_role br,
             r_role_resource rrr,
             b_resource bre,
             b_resource_interface bri
        where br.flag = 1
          and rrr.flag = 1
          and bre.flag = 1
          and bri.flag = 1
          and br.role_id = rrr.role_id
          and bre.resource_id = rrr.resource_id
          and bre.resource_id = bri.resource_id
          and bri.status = 0
          and bre.system_type = #{systemType}
    </select>

    <select id="listByRole" resultMap="BResourceInterfaceMap">
        select bri.*
        from b_role br,
             r_role_resource rrr,
             b_resource bre,
             b_resource_interface bri
        where br.flag = 1
          and rrr.flag = 1
          and bre.flag = 1
          and bri.flag = 1
          and br.role_id = rrr.role_id
          and bre.resource_id = rrr.resource_id
          and bre.resource_id = bri.resource_id
          and bri.status = 0
          and bre.system_type = #{systemType}
          and br.role_id = #{roleId}
    </select>
</mapper>

