<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.SFileMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.BResourceInterface" id="BResourceInterfaceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
        <result property="interfaceName" column="interface_name" jdbcType="VARCHAR"/>
        <result property="interfaceUrl" column="interface_url" jdbcType="VARCHAR"/>
        <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

