<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BResourceMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.BResource" id="BResourceMap">
        <result property="resourceId" column="resource_id" jdbcType="INTEGER"/>
        <result property="parentResourceId" column="parent_resource_id" jdbcType="INTEGER"/>
        <result property="referResourceId" column="refer_resource_id" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findPermission" resultType="com.kge.energy.crm.repository.entityext.result.ResourcePermissionResult">
        select a.resource_id,
               a.parent_resource_id,
               a.name,
               a.level,
               b.auth_read,
               b.auth_write,
               b.auth_delete,
               b.auth_audit
        from b_resource a
                 JOIN r_role_resource b ON b.resource_id = a.resource_id
                 JOIN r_user_role c ON c.role_id = b.role_id
        where a.name in
            <foreach collection="urls" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
          AND c.user_id = #{userId}
    </select>

    <select id="findMenu" resultType="com.kge.energy.crm.repository.entityext.result.ResourcePermissionResult">
        select DISTINCT
            a.resource_id,
            a.refer_resource_id,
            a.parent_resource_id,
            a.level, a.type, a.name,
            a.display_name, a.sort, a.flag,
            b.auth_read, b.auth_write, b.auth_delete, b.auth_audit
        from b_resource a
        LEFT JOIN r_role_resource b ON b.resource_id = a.resource_id
        LEFT JOIN r_user_role c ON c.role_id = b.role_id
        where a.flag IN (1,2) AND c.user_id = #{userId}
        Order by a.sort ASC
    </select>
</mapper>

