<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BRoleMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.BRole" id="BRoleMap">
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="roleResource" resultType="java.lang.Integer">
        select bre.resource_id
        from b_role br,
             b_resource bre,
             r_role_resource rrr
        where br.flag = 1
          and bre.flag = 1
          and rrr.flag = 1
          and br.role_id = rrr.role_id
          and bre.resource_id = rrr.resource_id
          and br.role_id = #{roleId}
          and bre.system_type = #{systemType}
          and bre.resource_id > 499
    </select>

    <select id="userRole" resultType="com.kge.energy.crm.repository.entity.BRole">
        select br.*
        from b_user bu,
             b_role br,
             r_user_role rur
        where bu.flag = 1
          and br.flag = 1
          and rur.flag = 1
          and bu.user_id = rur.user_id
          and br.role_id = rur.role_id
          and bu.user_id = #{userId}
    </select>

    <select id="getRoleIdByCode" resultType="integer">
        select role_id
        from b_role
        where flag = 1
        and code = #{code}
        and tenant_id = #{tenantId}
        limit 1
    </select>

</mapper>

