<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BSurveyItemOptionMapper">

    <resultMap id="BSurveyItemOptionResult"
               type="com.kge.energy.crm.repository.entityext.result.BSurveyItemOptionResult">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="itemId" column="item_id" jdbcType="INTEGER"/>
        <result property="itemVal" column="item_val" jdbcType="VARCHAR"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id, item_id, item_val, priority, create_user_id, create_time, modify_user_id, modify_time, flag, tenant_id
    </sql>

    <select id="getByItemId" resultMap="BSurveyItemOptionResult">
        select *
        from b_survey_item_option
        where flag = 1
        and item_id = #{itemId}
    </select>

</mapper>

