<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BTenantMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.BTenant" id="BTenantMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="contactName" column="contact_name" jdbcType="VARCHAR"/>
        <result property="contactMobile" column="contact_mobile" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectPage" resultType="com.kge.energy.crm.repository.entityext.result.TenantListResult">
        select bt.id, bt.name, bt.contact_name, bt.contact_mobile, bt.status, bt.create_time
        from b_tenant bt
        where bt.flag = 1
    </select>
    
    <select id="logicDelete">
        UPDATE b_tenant bt set bt.flag = -1 where bt.id = #{tenantId}
    </select>

</mapper>

