<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.BUserMsgMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.BUserMsg" id="BUserMsgMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="realname" column="realname" jdbcType="VARCHAR"/>
        <result property="systemType" column="system_type" jdbcType="VARCHAR"/>
        <result property="msgBizId" column="msg_biz_id" jdbcType="VARCHAR"/>
        <result property="msgBizType" column="msg_biz_type" jdbcType="INTEGER"/>
        <result property="pathType" column="path_type" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="read" column="is_read" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

