<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.CmsBlockContentTypeMapper">

    <select id="selectPage" resultType="com.kge.energy.crm.repository.entityext.result.CmsBlockContentType">
        select
            content.block_content_id,
            content.block_id,
            content.title,
            content.`desc`,
            content.remark,
            content.page_file,
            img.filepath as image_url,
            img.file_id,
            pages.path as page_url,
            pages.pages_id,
            block.type,
            page_file.filepath as page_name
        from cms_block_content content
        left join s_file img on img.file_id = content.image_url
        left join wx_pages pages on pages.pages_id = content.page_url
        left join cms_block block on block.block_id = content.block_id
        left join s_file page_file on page_file.file_id = content.page_file
        where
            content.flag != -1
            and content.block_id = #{param.blockId}
        <if test="param.name != null and param.name != ''">
            <bind name="name" value="'%' + param.name + '%'"/>
            and block.name like #{name}
        </if>
    </select>
</mapper>

