<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.CmsCommentMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.CmsComment" id="CmsCommentMap">
        <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
        <result property="parentCommentId" column="parent_comment_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="likeNumber" column="like_number" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAllCommentsByUserId" resultType="com.kge.energy.crm.repository.entityext.result.AppletCommentResult">
        SELECT
            b.realname AS name,
            c.comment_id AS id,
            c.parent_comment_id AS pid,
            c.user_id AS uid,
            c.content AS content,
            (select count(*) from r_user_like_comment where comment_id = c.comment_id and flag = 1) as cal_like_num,
            c.like_number AS thumb,
            c.create_time AS date,
            bu.realname AS rname,
        CASE
            WHEN (select count(*) from r_user_like_comment where comment_id = c.comment_id and flag = 1 and user_id = #{userId}) > 0 THEN 1
            ELSE 0
        END AS status
        FROM
            cms_comment c
                LEFT JOIN b_user b ON c.user_id = b.user_id
                LEFT JOIN cms_comment c1 ON c.parent_comment_id = c1.comment_id
                LEFT JOIN b_user bu ON c1.user_id = bu.user_id
        ORDER BY
            c.create_time
    </select>

</mapper>

