<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.DashBoardStatisticMapper">

    <select id="selectOne" resultType="com.kge.energy.crm.repository.entity.DashBoardStatistic">
        select *
        from (
            <!-- 查询新增客户数量 -->
            select count(*) AS new_user_count
            from b_user
            where
                type = '社会客户'
                and flag != -1
                and create_time between #{startTime} and #{endTime}
        ) new_user, (
            <!-- 查询咨询工单数量 -->
            select count(*) AS new_consulting_count
            from wf_form
            where
                flag != -1
                and create_time between #{startTime} and #{endTime}
        ) consulting, (
            <!-- 查询问题/投诉数量 -->
            select count(*) AS new_complain_count
            from w_complain
            where
                flag != -1
                and create_time between #{startTime} and #{endTime}
        ) complain, (
            <!-- 查询新增合同数量 -->
            select count(*) AS new_contract_count
            from sc_service_contract
            where
                flag != -1
                and create_time between #{startTime} and #{endTime}
        ) new_contract, (
            <!-- 查询已分派工单数量 -->
            select count(*) as sent_num
            from wf_form wf
            join b_organization org on org.organization_id = wf.current_org_id
            where
                wf.flag = 1
                and org.level != 1
                and wf.create_time between #{startTime} and #{endTime}
        ) sent_order, (
            <!-- 查询已签订合同数量 -->
            select count(*) as sign_num
            from wf_form wf
            join b_organization org on org.organization_id = wf.current_org_id
            where
                wf.form_id = any(
                    select form_id
                    from sc_service_contract
                    where flag = 1
                )
                and wf.flag = 1
                and org.level != 1
                and wf.create_time between #{startTime} and #{endTime}
        ) sign_contract, (
            <!-- 查询已终止工单数量 -->
            select count(*) as terminate_num
            from wf_form wf
            join b_organization org on org.organization_id = wf.current_org_id
            where
                wf.flag = 1
                and wf.status = '已终止'
                and org.level != 1
                and wf.create_time between #{startTime} and #{endTime}
        ) terminate_order, (
            <!-- 查询开展中工单数量 -->
            select count(*) as processing_num
            from wf_form wf
            join b_organization org on org.organization_id = wf.current_org_id
            where
                wf.form_id not in (
                    select form_id
                    from sc_service_contract
                    where flag = 1
                )
                and wf.flag = 1
                and wf.status != '已终止'
                and org.level != 1
                and wf.create_time between #{startTime} and #{endTime}
        ) processing_order
    </select>

</mapper>

