<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.DashBoardUserTransMapper">

    <select id="selectOne" resultType="com.kge.energy.crm.repository.entity.DashBoardUserTrans">
        select
            *,
            ROUND(order_num / active_user_num * 100, 2) AS active_user_trans_rate,
            ROUND(contract_num / order_num * 100, 2) AS order_trans_rate
        from (
            <!-- 查询活跃客户数量 -->
            select count(*) AS active_user_num
            from b_user user
            left join r_user_role rur on rur.user_id = user.user_id
            left join l_user_token token on token.user_id = user.user_id
            where
                token.modify_time between #{startTime} and #{endTime}
                and rur.role_id = 5
        ) active_user, (
            <!-- 查询下单咨询数量 -->
            select count(*) AS order_num
            from b_user user
            left join r_user_role rur on rur.user_id = user.user_id
            left join l_user_token token on token.user_id = user.user_id
            where
                token.modify_time between #{startTime} and #{endTime}
                and rur.role_id = 5
                and user.user_id = any(select create_user_id from wf_form)
        ) `order`, (
            <!-- 查询提交合同数量 -->
            select count(*) AS contract_num
            from b_user user
            left join r_user_role rur on rur.user_id = user.user_id
            left join l_user_token token on token.user_id = user.user_id
            where
                token.modify_time between #{startTime} and #{endTime}
                and rur.role_id = 5
                and user.user_id = any(
                    select create_user_id
                    from wf_form
                    where form_id = any(select form_id from sc_service_contract)
                )
        ) contract
    </select>

</mapper>

