<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.DashBoardComplainRankMapper">

    <select id="selectList" resultType="com.kge.energy.crm.repository.entity.DashBoardComplainRank">
        select
            complain.organization_id as organization_id,
            ifnull(org.name, '无所属单位') as company_name,
            count(*) as num
        from w_complain complain
        left join b_organization org on org.organization_id = complain.organization_id
        where complain.create_time between #{startTime} and #{endTime}
        group by complain.organization_id
        order by num desc
    </select>
</mapper>

