<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.DashBoardEvaluateMapper">

    <select id="selectList" resultType="com.kge.energy.crm.repository.entity.DashBoardEvaluate">
        select
            star_list.star,
            count(satisfaction) as ent_num,
            count(satisfaction) * 100 / (
                select count(*) as num
                from sc_contract_evaluate
                where satisfaction > 0
            ) as rate
        from (select 1 as star union select 2 union select 3 union select 4 union select 5) star_list
        left join sc_contract_evaluate sce on sce.satisfaction = star_list.star
        group by star_list.star
    </select>

    <select id="selectAverage" resultType="double">
        select
        (
            1 * count(if(satisfaction = 1, 1, null)) +
            2 * count(if(satisfaction = 2, 1, null)) +
            3 * count(if(satisfaction = 3, 1, null)) +
            4 * count(if(satisfaction = 4, 1, null)) +
            5 * count(if(satisfaction = 5, 1, null))
        ) / count(if(satisfaction > 0, 1, null)) as average
        from sc_contract_evaluate
    </select>
</mapper>

