<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.EtEventRecordMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.EtEventRecord" id="EtEventRecordMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="eventId" column="event_id" jdbcType="INTEGER"/>
        <result property="viewPageName" column="view_page_name" jdbcType="VARCHAR"/>
        <result property="viewPageUrl" column="view_page_url" jdbcType="VARCHAR"/>
        <result property="sourcePageName" column="source_page_name" jdbcType="VARCHAR"/>
        <result property="sourcePageUrl" column="source_page_url" jdbcType="VARCHAR"/>
        <result property="eventTime" column="event_time" jdbcType="TIMESTAMP"/>
        <result property="eventDuration" column="event_duration" jdbcType="INTEGER"/>
        <result property="eventProperty" column="event_property" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

</mapper>

