<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.LUserTokenMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.LUserToken" id="LUserTokenMap">
        <result property="userTokenId" column="user_token_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="loginOrganizationId" column="login_organization_id" jdbcType="INTEGER"/>
        <result property="terminalType" column="terminal_type" jdbcType="VARCHAR"/>
        <result property="terminalAddress" column="terminal_address" jdbcType="VARCHAR"/>
        <result property="loginToken" column="login_token" jdbcType="VARCHAR"/>
        <result property="loginExpiredTime" column="login_expired_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>

