<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.ScContractEvaluateMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.ScContractEvaluate" id="ScContractEvaluateMap">
        <result property="contractEvaluateId" column="contract_evaluate_id" jdbcType="INTEGER"/>
        <result property="serviceContractId" column="service_contract_id" jdbcType="INTEGER"/>
        <result property="satisfaction" column="satisfaction" jdbcType="INTEGER"/>
        <result property="evaluate" column="evaluate" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>

