<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.SysLoginLogMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.SysLoginLog" id="SysLoginLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="traceId" column="trace_id" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="tenantName" column="tenant_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userRealname" column="user_realname" jdbcType="VARCHAR"/>
        <result property="userMobile" column="user_mobile" jdbcType="VARCHAR"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="loginPlatform" column="login_platform" jdbcType="INTEGER"/>
        <result property="loginResult" column="login_result" jdbcType="INTEGER"/>
        <result property="loginMessage" column="login_message" jdbcType="VARCHAR"/>
    </resultMap>

<!--    <select id="list" resultMap="SysOperateLogMap">-->
<!--        select *-->
<!--        from sys_operate_log-->
<!--        <if test="param.tenantId != null">-->
<!--            and tenant_id = #{param.tenantId}-->
<!--        </if>-->
<!--        <if test="param.operateModule != null">-->
<!--            and operate_module = #{param.operateModule}-->
<!--        </if>-->
<!--        <if test="param.operatorName != null and param.operatorName != ''">-->
<!--            and operator_name like CONCAT('%',#{param.operatorName},'%')-->
<!--        </if>-->
<!--        order by id desc-->
<!--    </select>-->
</mapper>

