<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.WfFormFileMapper">

    <resultMap type="com.kge.energy.crm.repository.entity.WfFormFile" id="WfFormFileMap">
        <result property="wfFormFileId" column="wf_form_file_id" jdbcType="INTEGER"/>
        <result property="formId" column="form_id" jdbcType="INTEGER"/>
        <result property="formFlowId" column="form_flow_id" jdbcType="INTEGER"/>
        <result property="fileId" column="file_id" jdbcType="INTEGER"/>
    </resultMap>

</mapper>

