<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kge.energy.crm.repository.mapper.WfFormMapper">
    <resultMap type="com.kge.energy.crm.repository.entity.WfForm" id="WfFormMap">
        <result property="formId" column="form_id" jdbcType="INTEGER"/>
        <result property="formTypeId" column="form_type_id" jdbcType="INTEGER"/>
        <result property="formMetaId" column="form_meta_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="subStatus" column="sub_status" jdbcType="VARCHAR"/>
        <result property="timeSubmit" column="time_submit" jdbcType="TIMESTAMP"/>
        <result property="timeReception" column="time_reception" jdbcType="TIMESTAMP"/>
        <result property="timeFinished" column="time_finished" jdbcType="TIMESTAMP"/>
        <result property="currentRoleId" column="current_role_id" jdbcType="INTEGER"/>
        <result property="currentOrgId" column="current_org_id" jdbcType="INTEGER"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyUserId" column="modify_user_id" jdbcType="INTEGER"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findWxUserWorkOrder" resultType="com.kge.energy.crm.repository.entityext.result.FormResult">
        select a.content ->> '$.businessName' AS business_name,
        a.content ->> '$.area' AS area,
        a.content ->> '$.companyName' AS company_name,
        a.content ->> '$.detailedAddress' AS detailed_address,
        a.content ->> '$.customerName' AS customer_name,
        a.content ->> '$.mobile' AS mobile,
        a.content ->> '$.code' AS code,
        a.content ->> '$.voltageLevel' AS voltage_level,
        a.content ->> '$.electricityCapacity' AS electricity_capacity,
        a.form_id,
        a.status,
        a.sub_status,
        DATE_FORMAT(a.time_submit, '%Y-%m-%d %T') AS time_submit,
        DATE_FORMAT(a.time_reception, '%Y-%m-%d %T') AS time_reception,
        DATE_FORMAT(a.time_finished, '%Y-%m-%d %T') AS time_finished,
        a.flag,
        a.remark,
        e.realname,
        d.name AS org_name,
        (CASE (b.user_id = #{listParam.userId} AND a.status != '待处理'  AND a.status != '已终止')
        OR a.status = '处理中' OR a.status = '已处理' WHEN TRUE THEN '已处理' ELSE
        ( CASE a.status = '已终止' WHEN TRUE THEN '已终止' ELSE '待处理' END ) END) AS user_status
        from wf_form a
        LEFT JOIN wf_form_flow b ON b.form_id = a.form_id AND b.create_user_id = #{listParam.userId}
        LEFT JOIN r_user_tenant c ON c.user_id = b.user_id
        LEFT JOIN b_organization d ON d.organization_id = a.current_org_id
        LEFT JOIN b_user e ON e.user_id = b.user_id
        <where>
            a.flag != -1 and a.create_user_id = #{listParam.userId}
            <if test="listParam.searchMap.status != null and listParam.searchMap.status != ''">
                and a.sub_status = #{listParam.searchMap.status}
            </if>
            <if test="listParam.searchMap.name != null and listParam.searchMap.name != ''">
                and (a.content->> '$.code' like CONCAT('%',#{listParam.searchMap.name},'%')
                OR a.content->> '$.businessName' like CONCAT('%',#{listParam.searchMap.name},'%') )
            </if>
            <if test="listParam.searchMap.businessName != null and listParam.searchMap.businessName != ''">
                and a.content->>'$.businessName' like CONCAT('%',#{listParam.searchMap.businessName},'%')
            </if>
        </where>
        group by
        a.content,a.form_id,a.status,a.sub_status,a.time_submit,a.time_reception,a.time_finished,a.flag,a.remark,
        e.realname, d.name, user_status
        order by a.time_submit DESC
    </select>

    <select id="findList" resultType="com.kge.energy.crm.repository.entityext.result.FormResult">
        select a.content ->> "$.businessName" AS business_name,
        a.content ->> "$.area" AS area,
        a.content ->> "$.companyName" AS company_name,
        a.content ->> "$.detailedAddress" AS detailed_address,
        a.content ->> "$.customerName" AS customer_name,
        a.content ->> "$.mobile" AS mobile,
        a.content ->> "$.code" AS code,
        a.content ->> "$.voltageLevel" AS voltage_level,
        a.content ->> "$.electricityCapacity" AS electricity_capacity,
        a.form_id,
        a.status,
        a.sub_status,
        a.current_org_id AS organization_id,
        DATE_FORMAT(a.time_submit, '%Y-%m-%d %T') AS time_submit,
        DATE_FORMAT(a.time_reception, '%Y-%m-%d %T') AS time_reception,
        DATE_FORMAT(a.time_finished, '%Y-%m-%d %T') AS time_finished,
        a.flag,
        a.remark,
        e.`realname`,
        d.`name` AS org_name,
        <choose>
            <when test="userInfo.roleId != null and userInfo.roleId == 2">
                (CASE a.`status` = '处理中' OR a.`status` = '已处理' WHEN TRUE THEN '已处理' ELSE ( CASE a.`status` =
                '已终止' WHEN TRUE THEN '已终止' ELSE '待处理' END ) END) AS user_status
            </when>
            <when test="userInfo.roleId != null and userInfo.roleId == 3">
                (CASE (a.`status` = '处理中' AND a.`sub_status` = '待处理') WHEN TRUE THEN '待处理' ELSE ( CASE
                a.`status` = '已终止' WHEN TRUE THEN '已终止' ELSE '已处理' END ) END) AS user_status
            </when>
            <when test="userInfo.roleId != null and userInfo.roleId == 5">
                (CASE a.`sub_status` = '待处理' WHEN TRUE THEN '待处理' ELSE ( CASE a.`status` = '已终止' WHEN TRUE THEN
                '已终止' ELSE '已处理' END ) END) AS user_status
            </when>
            <otherwise>
                (CASE a.`sub_status` = '待处理' WHEN TRUE THEN '待处理' ELSE ( CASE a.`status` = '已终止' WHEN TRUE THEN
                '已终止' ELSE '已处理' END ) END) AS user_status
            </otherwise>
        </choose>
        from wf_form a
        LEFT JOIN wf_form_flow b ON b.form_id = a.form_id AND b.create_user_id = #{userInfo.userId}
        LEFT JOIN wf_form_flow g ON g.form_id = a.form_id AND g.action_type = '已回复'
        LEFT JOIN r_user_tenant c ON c.user_id = b.user_id
        LEFT JOIN b_organization d ON d.organization_id = a.current_org_id
        LEFT JOIN b_user e ON e.user_id = g.user_id
        LEFT JOIN r_user_role f ON f.user_id = b.create_user_id
        <where>
            a.flag != -1
            <if test="listParam.searchMap.status != null and listParam.searchMap.status != '' and userInfo.roleId == 5">
                and a.sub_status = #{listParam.searchMap.status}
            </if>
            <if test="listParam.searchMap.name != null and listParam.searchMap.name != ''">
                and (a.content->> "$.code" like CONCAT('%',#{listParam.searchMap.name},'%')
                OR a.content->> "$.businessName" like CONCAT('%',#{listParam.searchMap.name},'%') )
            </if>
            <if test="listParam.searchMap.starttime != null and listParam.searchMap.endtime != null">
                and a.modify_time >= #{listParam.searchMap.starttime}
                AND a.modify_time &lt;= #{listParam.searchMap.endtime}
            </if>
            <if test="listParam.searchMap.businessName != null and listParam.searchMap.businessName != ''">
                and a.content->>"$.businessName" like CONCAT('%',#{listParam.searchMap.businessName},'%')
            </if>
            <if test="listParam.searchMap.onlyMe != null and listParam.searchMap.onlyMe != ''">
                and b.create_user_id = #{userInfo.userId}
            </if>
            <if test="userInfo.roleId != null and userInfo.roleId == 3 and userInfo.organizationList.size > 0">
                and a.current_org_id in
                <foreach collection="userInfo.organizationList" item="org" index="index" open="(" close=")" separator=",">
                    #{org.id}
                </foreach>
            </if>
            <if test="userInfo.roleId != null and userInfo.roleId == 5">
                a.create_user_id = #{userInfo.userId}
            </if>
        </where>
        group by
        a.content,a.form_id,a.STATUS,a.sub_status,a.time_submit,a.time_reception,a.time_finished,a.flag,a.remark,
        e.`realname`, d.`name`, `user_status`
        <if test="listParam.searchMap.status != null and listParam.searchMap.status != '' and userInfo.roleId != 5">
            having user_status = #{listParam.searchMap.status}
        </if>
        order by a.time_submit DESC
    </select>

    <select id="findOrderNum" resultType="java.lang.Long">
        select count(*)
        from wf_form
        where create_user_id = any (select u.user_id
                                    from b_user u,
                                         b_role r,
                                         r_user_role ur
                                    where u.flag = 1
                                      and r.flag = 1
                                      and ur.flag = 1
                                      and u.user_id = ur.user_id
                                      and r.role_id = ur.role_id
                                      and u.tenant_id = r.tenant_id
                                      and r.code = 'applet_user'
                                      and u.last_login_time BETWEEN #{startTime} AND #{endTime})
    </select>

    <select id="findNewConsultingCount" resultType="java.lang.Long">
        select count(1) AS new_consulting_count
        from wf_form a
        where a.flag != -1 AND a.create_time between #{startTime} and #{endTime}
    </select>

    <!--微信小程序工单列表-->
    <select id="findListForWx" resultType="com.kge.energy.crm.repository.entityext.result.FormResult">
        select * from (<include refid="fromListForWx"/>) as t
    </select>

    <select id="findAll" resultType="com.kge.energy.crm.repository.entityext.result.FormResult">
        select t.*
            , case when ssc.code is null then '否' else '是' end as contract_signed_flag
            , ssc.code as contract_code
            , ssc.name as contract_name
            , DATE_FORMAT(ssc.signing_time, '%Y-%m-%d') as contract_signing_time
            , ssc.amount as contract_amount
        from (<include refid="fromListForWx"/>) as t
        left join sc_service_contract ssc on ssc.form_id = t.form_id and ssc.flag = 1
    </select>

    <sql id="fromListForWx">
        select row_number() over (order by a.modify_time desc) as row_num
             , json_unquote(json_extract(a.content, '$.businessName')) AS business_name
             , json_unquote(json_extract(a.content, '$.area')) AS area
             , json_unquote(json_extract(a.content, '$.companyName')) AS company_Name
             , json_unquote(json_extract(a.content, '$.detailedAddress')) AS detailed_address
             , json_unquote(json_extract(a.content, '$.customerName')) AS customer_name
             , json_unquote(json_extract(a.content, '$.mobile')) AS mobile
             , json_unquote(json_extract(a.content, '$.code')) AS code
             , json_unquote(json_extract(a.content, '$.voltageLevel')) AS voltage_level
             , json_unquote(json_extract(a.content, '$.electricityCapacity')) AS electricity_capacity
             , a.form_id
             , a.status
             , a.sub_status
             , a.current_org_id AS organization_id
             , DATE_FORMAT(a.time_submit, '%Y-%m-%d %T') AS time_submit
             , DATE_FORMAT(a.time_reception, '%Y-%m-%d %T') AS time_reception
             , DATE_FORMAT(a.time_finished, '%Y-%m-%d %T') AS time_finished
             , DATE_FORMAT(a.modify_time, '%Y-%m-%d %T') AS modify_time
             , a.flag
             , a.remark
             , d.`name` AS org_name
             , p.organization_id as preselected_org_id
             , p.`name` as preselected_org_name,
            <choose>
                <when test="userInfo.roleCodes != null and userInfo.roleCodes.contains('jt_customer')">
                    (case
                        when a.`status` = '处理中' or a.`status` = '已处理' then '已处理'
                        when a.status = '已完结' then '已完结'
                        when a.status = '已终止' then '已终止'
                        else (case when a.`status` = '已终止' then '已终止' else '待处理' end)
                    end) as user_status
                </when>
                <when test="userInfo.roleCodes != null and userInfo.roleCodes.contains('sub_company_customer')">
                    (case
                        when (a.`status` = '处理中' and a.`sub_status` = '待处理')  then '待处理'
                        when a.status = '已完结' then '已完结'
                        when a.status = '已终止' then '已终止'
                        else (case when a.`status` = '已终止' then '已终止' else '已处理' end)
                    end) AS user_status
                </when>
                <when test="userInfo.roleCodes != null and userInfo.roleCodes.contains('applet_user')">
                    (case
                        when a.`sub_status` = '待处理' then '处理中'
                        when a.status = '已完结' then '已完结'
                        when a.status = '已终止' then '已终止'
                        else (case when a.`status` = '已终止' then '已终止' else '已处理' end)
                    end) AS user_status
                </when>
                <otherwise>
                    (case
                        when a.`sub_status` = '待处理'  then '待处理'
                        when a.status = '已完结' then '已完结'
                        when a.status = '已终止' then '已终止'
                        else (case when a.`status` = '已终止' then '已终止' else '已处理' end)
                    end) AS user_status
                </otherwise>
            </choose>
        from wf_form a
        join b_organization d on d.organization_id = a.current_org_id
        left join b_organization p on p.organization_id = a.preselected_org_id
        left join wf_form_flow b on b.form_id = a.form_id and b.create_user_id = #{userInfo.userId}
        /*LEFT JOIN r_user_tenant c ON c.user_id = b.user_id
        LEFT JOIN r_user_role f ON f.user_id = b.create_user_id*/
        where a.flag = 1
        <if test="listParam.tenantId != null">
            and a.tenant_id = #{listParam.tenantId}
        </if>
        <choose>
            <when test="dataEnums != null and dataEnums.getCode() == 0">
                /*数据范围：所有*/
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 1">
                /*数据范围：当前租户*/
                and a.tenant_id = #{userInfo.tenantId}
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 2">
                /*数据范围：集团*/
                and a.tenant_id = #{userInfo.tenantId}
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 3">
                /*数据范围：公司*/
                and a.current_org_id in
                <foreach collection="userInfo.organizationList" item="org" index="index" open="(" close=")" separator=",">
                    #{org.id}
                </foreach>
            </when>
            <otherwise>
                /*数据范围：个人*/
                and a.create_user_id = #{userInfo.userId}
            </otherwise>
        </choose>

        <if test="listParam.searchMap.name != null and listParam.searchMap.name != ''">
            and (json_unquote(json_extract(a.content, '$.code')) like CONCAT('%', #{listParam.searchMap.name}, '%') or json_unquote(json_extract(a.content, '$.businessName')) like CONCAT('%', #{listParam.searchMap.name}, '%'))
        </if>
        <if test="listParam.searchMap.businessName != null and listParam.searchMap.businessName != ''">
            and json_unquote(json_extract(a.content, '$.businessName')) like CONCAT('%', #{listParam.searchMap.businessName}, '%')
        </if>
        <if test="listParam.searchMap.onlyMe != null and listParam.searchMap.onlyMe != ''">
            and b.create_user_id = #{userInfo.userId}
        </if>
        <if test="listParam.searchMap.starttime != null and listParam.searchMap.endtime != null">
            and a.modify_time &gt;= #{listParam.searchMap.starttime}
            and a.modify_time &lt;= #{listParam.searchMap.endtime}
        </if>
        group by a.content,a.form_id,a.STATUS,a.sub_status,a.time_submit,a.time_reception,a.time_finished,a.modify_time,a.flag,a.remark, d.`name`, p.`name`, `user_status`
        <if test="listParam.searchMap.status != null and listParam.searchMap.status != ''">
            having user_status = #{listParam.searchMap.status}
        </if>
    </sql>

    <select id="getFlowByFormId" resultType="com.kge.energy.crm.repository.entityext.result.FlowResult">
        select wf.form_flow_id,
               wf.form_id,
               DATE_FORMAT(wf.time_action, '%Y-%m-%d %T') AS time_action,
               wf.user_id,
               wf.action_type,
               wf.action_content,
               wf.status,
               wf.sub_status
        from wf_form_flow wf

        where wf.flag = 1
            and wf.form_id = #{formId}
        <if test="userInfo.tenantId != null and !userInfo.roleCodes.contains('super_admin')">
            and wf.tenant_id = #{userInfo.tenantId}
        </if>

        order by wf.time_action asc
    </select>

    <select id="findWithdrawReturnList" resultType="com.kge.energy.crm.repository.entityext.result.FormWithdrawReturnResult">
        select
            wf.form_id,
            json_unquote(json_extract(wf.content, '$.businessName')) AS business_name,  json_unquote(json_extract(wf.content, '$.code')) AS code,
            DATE_FORMAT(wf.time_submit, '%Y-%m-%d %T') AS time_submit,
            DATE_FORMAT(wff.modify_time, '%Y-%m-%d %T') AS modify_time,
            bo.name as org_name,
            wff.action_content,
            wff.`status`
        from wf_form_flow wff
        left join wf_form wf on wf.form_id = wff.form_id
        left join b_organization bo on bo.organization_id = wff.service_unit_id
        where wf.flag = 1
        and wff.`status` in ('已撤回', '已退回')
        <choose>
            <when test="dataEnums != null and dataEnums.getCode() == 0">
                /*数据范围：所有*/
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 1">
                /*数据范围：当前租户*/
                and wf.tenant_id = #{userInfo.tenantId}
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 2">
                /*数据范围：集团*/
                and wf.tenant_id = #{userInfo.tenantId}
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 3">
                /*数据范围：公司*/
                and wff.service_unit_id in
                <foreach collection="userInfo.organizationList" item="org" index="index" open="(" close=")" separator=",">
                    #{org.id}
                </foreach>
            </when>
            <otherwise>
                /*数据范围：个人*/
                and wf.create_user_id = #{userInfo.userId}
            </otherwise>
        </choose>
        order by wff.modify_time desc
    </select>

    <select id="getFormDetail" resultType="com.kge.energy.crm.repository.entityext.result.FormResult">
        select row_number() over (order by a.modify_time desc) as row_num
        , json_unquote(json_extract(a.content, '$.businessName')) AS business_name
        , json_unquote(json_extract(a.content, '$.area')) AS area
        , json_unquote(json_extract(a.content, '$.companyName')) AS company_Name
        , json_unquote(json_extract(a.content, '$.detailedAddress')) AS detailed_address
        , json_unquote(json_extract(a.content, '$.customerName')) AS customer_name
        , json_unquote(json_extract(a.content, '$.mobile')) AS mobile
        , json_unquote(json_extract(a.content, '$.code')) AS code
        , json_unquote(json_extract(a.content, '$.voltageLevel')) AS voltage_level
        , json_unquote(json_extract(a.content, '$.electricityCapacity')) AS electricity_capacity
        , a.form_id
        , a.status
        , a.sub_status
        , a.current_org_id AS organization_id
        , DATE_FORMAT(a.time_submit, '%Y-%m-%d %T') AS time_submit
        , DATE_FORMAT(a.time_reception, '%Y-%m-%d %T') AS time_reception
        , DATE_FORMAT(a.time_finished, '%Y-%m-%d %T') AS time_finished
        , DATE_FORMAT(a.modify_time, '%Y-%m-%d %T') AS modify_time
        , a.flag
        , a.remark
        , d.`name` AS org_name
        , p.organization_id as preselected_org_id
        , p.`name` as preselected_org_name,
        <choose>
            <when test="userInfo.roleCodes != null and userInfo.roleCodes.contains('jt_customer')">
                (case
                when a.`status` = '处理中' or a.`status` = '已处理' then '已处理'
                when a.status = '已完结' then '已完结'
                when a.status = '已终止' then '已终止'
                else (case when a.`status` = '已终止' then '已终止' else '待处理' end)
                end) as user_status
            </when>
            <when test="userInfo.roleCodes != null and userInfo.roleCodes.contains('sub_company_customer')">
                (case
                when (a.`status` = '处理中' and a.`sub_status` = '待处理')  then '待处理'
                when a.status = '已完结' then '已完结'
                when a.status = '已终止' then '已终止'
                else (case when a.`status` = '已终止' then '已终止' else '已处理' end)
                end) AS user_status
            </when>
            <when test="userInfo.roleCodes != null and userInfo.roleCodes.contains('applet_user')">
                (case
                when a.`sub_status` = '待处理' then '处理中'
                when a.status = '已完结' then '已完结'
                when a.status = '已终止' then '已终止'
                else (case when a.`status` = '已终止' then '已终止' else '已处理' end)
                end) AS user_status
            </when>
            <otherwise>
                (case
                when a.`sub_status` = '待处理'  then '待处理'
                when a.status = '已完结' then '已完结'
                when a.status = '已终止' then '已终止'
                else (case when a.`status` = '已终止' then '已终止' else '已处理' end)
                end) AS user_status
            </otherwise>
        </choose>
        from wf_form a
        join b_organization d on d.organization_id = a.current_org_id
        left join b_organization p on p.organization_id = a.preselected_org_id
        where a.flag = 1
             and a.form_id = #{formId}
        <choose>
            <when test="dataEnums != null and dataEnums.getCode() == 0">
                /*数据范围：所有*/
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 1">
                /*数据范围：当前租户*/
                and a.tenant_id = #{userInfo.tenantId}
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 2">
                /*数据范围：集团*/
                and a.tenant_id = #{userInfo.tenantId}
            </when>
            <when test="dataEnums != null and dataEnums.getCode() == 3">
                /*数据范围：公司*/
                and a.current_org_id in
                <foreach collection="userInfo.organizationList" item="org" index="index" open="(" close=")" separator=",">
                    #{org.id}
                </foreach>
            </when>
            <otherwise>
                /*数据范围：个人*/
                and a.create_user_id = #{userInfo.userId}
            </otherwise>
        </choose>
        group by a.content,a.form_id,a.STATUS,a.sub_status,a.time_submit,a.time_reception,a.time_finished,a.modify_time,a.flag,a.remark, d.`name`,p.`name`, `user_status`
    </select>

</mapper>

